<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    {% include 'home/script.html' %}
    <title>{{name}}</title>
</head>

<body>
    {% include 'dashboard/navbar.html' %}

    <div class="container-fluid">
        <div class="row">
            {% include 'dashboard/sidenav.html' %}

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

                <div class="dropdown my-5">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Add Coins
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for coin in all_coins %}
                            <li><a style="cursor: pointer;" class="dropdown-item nav-coins" id="{{coin.name}}">{{coin.name}}</a></li>
                        {% endfor %}
                        <!-- onclick="add_to_watchlist(`{{coin.name}}`)" -->
                    </ul>
                </div>

                <table class="table my-5">
                    <thead>
                        <tr style="font-size: x-large;">
                            <th scope="col">Name</th>
                            <th scope="col">Symbol</th>
                            <th scope="col">Price</th>
                            <th scope="col">Change</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                       {% for coin in coins_qs %}
                            <tr class="table-primary">
                                <th scope="row">
                                    <img style="height: 30px; width: 30px;" src="{% static 'dashboard/img/SVG/' %}{{coin.symbol}}.svg" alt="">
                                    <a style="text-decoration: none;color: black;" href="{% url 'coin_chart_page' coin.name %}">
                                        {{coin.name}}
                                    </a>
                                </th>
                                <td><b>{{coin.symbol}}</b></td>
                                <td style="font-weight: bolder;" id="id_price_{{coin.symbol}}"></td>
                                <td style="font-weight: bolder;" id="id_change_{{coin.symbol}}">0.00</td>
                                <td class="delete-btn"><i style="cursor: pointer;" id="{{coin.name}}" class="fa fa-2x fa-trash"></i></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </main>
        </div>
    </div>
</body>


<script src="{% static 'dashboard/js/live_search.js' %}"></script>

<script>
        $(".nav-coins").on('click',function(e){
            
            let coin = e.target.id;
            let name = "{{name}}";
            $.ajax({
                url:"{% url 'add_coin' %}",
                data:{'coin':coin , 'name':name},
                success:function(response)
                {
                    // alert("haha")
                    window.location.reload();
                }
            })
        });

        $(".delete-btn").on('click',function(e){
            let coin = e.target.id;
            let name = "{{name}}";
            if(confirm("Are you sure u want to delete this coin...??")){
                $.ajax({
                    url:"{% url 'delete_coin' %}",
                    data:{'coin':coin , 'name':name},
                    success:function(response)
                    {
                        // alert("haha")
                        window.location.reload();
                    }
                })
            }
        });
        
</script>

{% include 'watchlist/watchlist_prices_js.html' %}

</html>