<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% include 'home/script.html' %}
    <title>{{name}}</title>
</head>

<body>
    {% include 'dashboard/navbar.html' %}

    <div class="container-fluid">
        <div class="row">
            {% include 'dashboard/sidenav.html' %}

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <table class="table my-5">
                    <thead>
                        <tr style="font-size: x-large;">
                            <th scope="col">Name</th>
                            <th scope="col">Symbol</th>
                            <th scope="col">Price</th>
                            <th scope="col">Change</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                       {% for coin in coins_qs %}
                            <tr class="table-primary">
                                <th scope="row">
                                    <img style="height: 30px; width: 30px;" src="{% static 'dashboard/img/SVG/' %}{{coin.symbol}}.svg" alt="">
                                    <a style="text-decoration: none;color: black;" href="{% url 'coin_chart_page' coin.name %}">
                                        {{coin.name}}
                                    </a>
                                </th>
                                <td><b>{{coin.symbol}}</b></td>
                                <td style="font-weight: bolder;" id="id_price_{{coin.symbol}}"></td>
                                <td style="font-weight: bolder;" id="id_change_{{coin.symbol}}">0.00</td>
                                <!-- <td id="id_delete_{{coin.symbol}}"><a href="google.com"><i class="fa fa-2x fa-trash"></i></a></td> -->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </main>
        </div>
    </div>
</body>


<script src="{% static 'dashboard/js/live_search.js' %}"></script>

{% include 'watchlist/watchlist_prices_js.html' %}

</html>