<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    
    
    {% include 'home/script.html' %}
    <title>{{coin.name}}  ({{coin.symbol}})</title>
</head>

<body>
    {% include 'charts/custom_interval.html' %}
    {% include 'dashboard/navbar.html' %}
    <div class="container-fluid">
        <div class="row">
            {% include 'dashboard/sidenav.html' %}

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

                    <h1 class="h2">
                        <img src="{% static 'dashboard/img/SVG/' %}{{coin.symbol}}.svg" style="height: 2.1rem ; width:2.1rem;"></i>{{coin.name}} ({{coin.symbol}})
                        <p id="id_real_time_price"></p>
                    </h1> 

                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button type="button" class="btn btn-primary ">Buy</button>
                            <button type="button" class="btn btn-danger" style="background-color: orangered; padding-left: 1rem;">Sell</button>
                        </div>
                        <div class="btn-group me-3">
                            <button type="button" id="chart_pattern" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Lines
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <a class="btn dropdown-item" id = 'chart_candles' onclick="changePattern('candles')">Candles</a>
                                <div class="dropdown-divider"></div>
                                <a class="btn dropdown-item" id = 'chart_lines'onclick="changePattern('lines')">Lines</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button type="button" id="interval" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            1 min
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <a class="btn dropdown-item" onclick="changeInterval(60)">1 min</a>
                                <a class="btn dropdown-item" onclick="changeInterval(60*5)">5 min</a>
                                <a class="btn dropdown-item" onclick="changeInterval(60*15)">15 min</a>
                                <a class="btn dropdown-item" onclick="changeInterval(60*30)">30 min</a>
                                <div class="dropdown-divider"></div>
                                <a class="btn dropdown-item" onclick="changeInterval(60*60*1)">1 hour</a>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-divider"></div>
                                <button class="btn dropdown-item" data-toggle="modal" data-target="#id_create_interval_modal">
                                    <a class="btn dropdown-item">Custom Interval</a>
                                </button>
                                <div class="dropdown-divider"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="mychart" style="height: 50vh;width: 100%;"></div>
        </main>
    </div>
    </div>

</body>

{% include 'charts/crypto_api_calls.html' %}
<script src="{% static '/dashboard/js/live_search.js' %}"></script>

</html>

