<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    
    
    {% include 'home/script.html' %}
    <title>{{coin.name}}  ({{coin.symbol}})</title>
</head>

<body>
    {% include 'charts/custom_interval.html' %}
    {% include 'dashboard/navbar.html' %}
    <div class="container-fluid">
        <div class="row">
            {% include 'dashboard/sidenav.html' %}

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

                    <h1 class="h2">
                        <img src="{% static 'dashboard/img/SVG/' %}{{coin.symbol}}.svg" style="height: 2.1rem ; width:2.1rem;"></i>{{coin.name}} ({{coin.symbol}})
                        <p id="id_real_time_price"></p>
                    </h1> 

                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#buy_btn">Buy</button>
                            <button type="button" class="btn btn-danger" style="background-color: orangered; padding-left: 1rem;">Sell</button>
                        </div>
                        <div class="btn-group me-3">
                            <button type="button" id="chart_pattern" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Lines
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <a class="btn dropdown-item" id = 'chart_candles' onclick="changePattern('candles')">Candles</a>
                                <div class="dropdown-divider"></div>
                                <a class="btn dropdown-item" id = 'chart_lines'onclick="changePattern('lines')">Lines</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button type="button" id="interval" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            1 min
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <a class="btn dropdown-item" onclick="changeInterval(60)">1 min</a>
                                <a class="btn dropdown-item" onclick="changeInterval(60*5)">5 min</a>
                                <a class="btn dropdown-item" onclick="changeInterval(60*15)">15 min</a>
                                <a class="btn dropdown-item" onclick="changeInterval(60*30)">30 min</a>
                                <div class="dropdown-divider"></div>
                                <a class="btn dropdown-item" onclick="changeInterval(60*60*1)">1 hour</a>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-divider"></div>
                                <button type="button" class="btn btn-primary  dropdown-item" data-toggle="modal" data-target="#id_create_interval_modal">
                                    Custom Interval
                                </button>
                                <div class="dropdown-divider"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="mychart" style="height: 50vh;width: 100%;"></div>
                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    Launch demo modal
                  </button> -->
                  
                  <!-- Modal -->
                  <div class="modal fade" id="buy_btn" tabindex="-1" role="dialog" aria-labelledby="buy_btn" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="buy_btn">Buy</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <form action="http://127.0.0.1:8000/charts/BITCOIN/" method="POST">{% csrf_token %}
                                <div class="container-md">
                                    <div class="row">
                                            <div class="col-sm">
                                            <input type="radio" id="INTRADAY" disabled name="order_time_limit" value="INTRADAY" >
                                            <label for="Intraday">Intraday</label> 
                                        </div>
                                        <div class="col-sm">
                                            <input type="radio"  id="CNC" name="order_time_limit" value="CNC" checked>
                                            <label for="CNC">CNC</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm">
                                            <fieldset>
                                                <legend>
                                                    Qty
                                                </legend>
                                                <input type="text" class="form-control" id="order_quantity"  value="0">
                                            </fieldset>
                                        </div>
                                        <div class="col-sm">
                                            <fieldset>
                                                <legend>
                                                    Price
                                                </legend>
                                                <input type="text" class="form-control" id="order_price" placeholder="Price" disabled>
                                                <div class="row">
                                                <div class="col-sm">
                                                    <input type="radio" id="MARKET" checked name="order_type" value="MARKET" >
                                                    <label for="MARKET">MARKET</label> 
                                                    </div>
                                                    <div class="col-sm">
                                                        <input type="radio" id="LIMIT"  disabled name="order_type" value="LIMIT" >
                                                        <label for="LIMIT">LIMIT</label> 
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-sm">
                                            <fieldset>
                                                <legend>
                                                    Trigger
                                                </legend>
                                                <input type="text" class="form-control" id="limit_price" disabled placeholder="Trigger" value="0">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <input type="radio" id="STOPMARKET"  disabled name="order_trigger_price" value="STOPMARKET" >
                                                        <label for="STOPMARKET">SL</label> 
                                                    </div>
                                                    <div class="col-sm">
                                                        <input type="radio" id="STOPLIMIT"  disabled name="order_trigger_price" value="STOPLIMIT" >
                                                        <label for="STOPLIMIT">SL-L</label> 
                                                    </div>
            
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                           
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <button type="submit" class="btn btn-primary">Buy</button>

                        </div>
                    </form>
                      </div>
                    </div>
                  </div>
        </main>
    </div>
    </div>

</body>

{% include 'charts/crypto_api_calls.html' %}
<script src="{% static '/dashboard/js/live_search.js' %}"></script>

</html>

