<div class="toast-container" style="position: absolute;z-index: 70000;top: 80%;">

    <!-- <div style="position: absolute;z-index: 70000;top: 50%;" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div id="toast_header" class="toast-header">
            Order Successfully Executed
        </div>
        <div class="toast-body">
            <button onclick="dispose_toast()" class="btn btn-danger">Close</button>
        </div>
    </div> -->
    <!-- <div  class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div id="toast_header" class="toast-header">
        </div>
        <div class="toast-body">
            <button onclick="dispose_toast()" class="btn btn-danger">Close</button>
        </div>
    </div> -->
</div>