<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'home/script.html' %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Basics</title>
</head>
<body  style="background-image: url('https://cutewallpaper.org/21/white-background-1080/White-Wallpaper-7-1920-X-1080-stmed.net.jpg');background-repeat: no-repeat;background-size: cover ;">
    {% include 'home/indexnav.html' %}
    <div class="container mb-4">
        <br><br>
        <p class="text-center fw-bolder" style="font-size: 5rem;font-family:Georgia, 'Times New Roman', Times, serif">Knowledge Base</p>
        <br><br>
        <p class="mx-3" style="font-size: 3rem;">Step 1 : <strong>Crypto Basics</strong></p>
        <br>
        <div class="card-group px-5">
            <div class="card ms-5">
              <img src="https://www.interactivebrokers.com/images/web/cryptocurrency-hero.jpg" class="card-img-top" alt="https://www.interactivebrokers.com/images/web/cryptocurrency-hero.jpg">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card ms-5">
              <img src="https://www.interactivebrokers.com/images/web/cryptocurrency-hero.jpg" class="card-img-top" alt="https://www.interactivebrokers.com/images/web/cryptocurrency-hero.jpg">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card ms-5">
              <img src="https://www.interactivebrokers.com/images/web/cryptocurrency-hero.jpg" class="card-img-top" alt="https://www.interactivebrokers.com/images/web/cryptocurrency-hero.jpg">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>

          <br><br>

          <div class="card-group px-5">
            <div class="card ms-5">
              <img src="https://www.interactivebrokers.com/images/web/cryptocurrency-hero.jpg" class="card-img-top" alt="https://www.interactivebrokers.com/images/web/cryptocurrency-hero.jpg">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card ms-5">
              <img src="https://www.interactivebrokers.com/images/web/cryptocurrency-hero.jpg" class="card-img-top" alt="https://www.interactivebrokers.com/images/web/cryptocurrency-hero.jpg">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card ms-5">
              <img src="https://www.interactivebrokers.com/images/web/cryptocurrency-hero.jpg" class="card-img-top" alt="https://www.interactivebrokers.com/images/web/cryptocurrency-hero.jpg">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>

          <br><br>

          <div class="card-group px-5">
            <div class="card ms-5">
              <img src="https://www.interactivebrokers.com/images/web/cryptocurrency-hero.jpg" class="card-img-top" alt="https://www.interactivebrokers.com/images/web/cryptocurrency-hero.jpg">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card ms-5">
              <img src="https://www.interactivebrokers.com/images/web/cryptocurrency-hero.jpg" class="card-img-top" alt="https://www.interactivebrokers.com/images/web/cryptocurrency-hero.jpg">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card ms-5">
              <img src="https://www.interactivebrokers.com/images/web/cryptocurrency-hero.jpg" class="card-img-top" alt="https://www.interactivebrokers.com/images/web/cryptocurrency-hero.jpg">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
    </div>
</body>
</html>